node_modules
dist
build
coverage

.git
.gitignore
.vscode
.idea

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

README.md
.prettierrc
.prettierignore
.eslintrc*
eslint.config.js
.editorconfig

*.md
